<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup sucessfull</title>
</head>
<style>
    body {
        background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
    }
    input[type="submit"] {
        background: palevioletred;
        color: white;
        border-radius: 20%;
    }
</style>
<body>
    Successfully signed up! Please continue to login!
    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</body>
</html>
